# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# Flask instance folder
instance/

# Local database files
*.sqlite3

# Environment variables
.env

# Logs
*.log

# IDEs / editors
.vscode/
.idea/
